
.reveal {
  background: url("../assets/img/bg.png");
  background-position: bottom;
  background-size: 100vw;
  background-repeat: no-repeat;
  margin: 0;
}

.logo {
  width: 13vw;
  height: 10vh;
}
.logo-left {
  float: left;
  z-index: 1;
  opacity: 0.9;
}
.logo-right {
  float: right;
  right: 10px;
  z-index: 1;
  opacity: 0.8;
}

.legend{
  font-size: 1rem;
  line-height: 2rem;
}

.ol-aula li:before {
  content: 'Aula ';
  left: -100px;
  position: relative;
}

.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.footer {
  color: #333;
}
